:root {
  --blue10: #edf4ff!important;
  --blue20: #c9deff!important;
  --blue30: #97c1ff!important;
  --blue40: #6ea6ff!important;
  --blue50: #408bfc!important;
  --blue60: #0062ff!important;
  --blue70: #054ada!important;
  --blue80: #0530ad!important;
  --blue90: #061f80!important;
  --blue100: #051243!important;
  --prussianblue: #113265!important;
  --card-bg-color: #061f80!important;
  --card-color: #dfe9e7!important;
  --text-color: black;
  --fullstack-green: rgb(160, 79, 79);
  /*  Red */
  --red10: #fff1f1!important;
  --red20: #ffd7d9!important;
  --red30: #ffb3b8!important;
  --red40: #ff8389!important;
  --red50: #fa4d56!important;
  --red60: #da1e28!important;
  --red70: #a2191f!important;
  --red80: #750e13!important;
  --red90: #520408!important;
  --red100: #2d0709!important;
  /*  Green */
  --green100: #071908!important;
  --green90: #022d0d!important;
  --green80: #044317!important;
  --green70: #0e6027!important;
  --green60: #198038!important;
  --green50: #24a148!important;
  --green40: #42be65!important;
  --green30: #6fdc8c!important;
  --green20: #a7f0ba!important;
  --green10: #defbe6!important;
}