:root {
  --margin_xs: 8px!important;
  --margin_s: 16px!important;
  --margin_m: 32px!important;
  --margin_l: 64px!important;
  --margin_l_neg: -60px!important;
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

body {
  font-size: 22px;
  line-height: 28px;
  color: black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul {
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  padding-left: 64px;
}

li {
  color: black;
  list-style-type: disc;
  padding-top: 2px;
  padding-bottom: 2px;
}


h1 {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 40px 0px  20px  0px;
  color: black;

}
h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 50px 0px 10px  0px;

}
h3 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 50px 0px 10px  0px;

}
h4 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: px;
  padding: 20px 0px  10px  0px;
}
img {
  /* Decisive to keep the picture in the flexbox! */
  max-width: 100%;
}

strong {
  color: var(--blue90);
  font-weight: 900;
}


a, a:visited  {
  color: var(--blue70);
  color: var(--blue50);
  text-decoration: underline;
}
a:hover, a:active {
  color: var(--green70);
  text-decoration: underline;
}

  blockquote {
    background-color: #ebebf3;
    page-break-inside: auto;
    page-break-inside: inherit ;
    width: 90%;
    margin: 20px auto 20px 60px;
    margin: 5px auto 5px 60px;
    padding: 1.2em 30px 20px 40px;
    padding: 5px 30px 5px 40px;
    font-size: 18px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-left: 8px solid var(--blue10);
}