:root {
  --margin_xs: 8px!important;
  --margin_s: 16px!important;
  --margin_m: 32px!important;
  --margin_l: 64px!important;
  --margin_l_neg: -60px!important;
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font: 14px;
}

body {
  font-size: 16px;
  line-height: 28px;
  color: black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 40px 0px  20px  0px;

}
h2 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 40px 0px  10px  0px;

}
h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 30px 0px  10px  0px;

}
h4 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: px;
  padding: 20px 0px  10px  0px;
}
img {
  /* Decisive to keep the picture in the flexbox! */
  max-width: 100%;
}

strong {
  color: var(--blue90);
  font-weight: 900;
}

ul {
  color: black;
  padding-left: 64px;
}

li {
  color: black;
  list-style-type: disc;
}


a, a:visited  {
  color: var(--blue70);
  text-decoration: underline;
}
a:hover, a:active {
  color: var(--green70);
  text-decoration: underline;
}