.HolyGrail {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  max-width: 3840px;
  background-color: black;
  background-color: white;
  /* font-family: 'Ubuntu';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.HolyGrail_header {
  position: sticky;
  top: 0;
  overflow: hidden;
  min-height: 40px;
  flex: 0 0 36px;
  display: flex;
  padding: 15px 0 10px 0;
  border-bottom: 1.52px solid var(--blue20);
  background-color: whitesmoke;
  background-color: var(--blue10);
}

.HolyGrail_login {
  position: sticky;
  flex: 0 0 32px;
  display: flex;
  margin: 10px 0 0 0;
}

.HolyGrail_slogan {
  flex: 0 0 64px;
  padding: 15px 0 10px 0;
  display: flex;
  margin: 10px 0 0 0;
}

.HolyGrail_middle {
  flex: 1;
  display: flex;
  margin-top: 16px;
  margin-bottom: 32px;
}

.HolyGrail_footer {
  flex: 0 0 100px;
  display: flex;
  background: linear-gradient(180deg, var(--blue60), var(--blue100));
  color: whitesmoke;
  border-top: 2px solid rgb(196, 209, 231);
}

.HolyGrail_final {
  flex: 0 0 30px;
  font-size:12px;
  display: flex;
  background-color: black;
  color: whitesmoke;
}

.column_center {
  flex: 0 0 64%;
  order: 0;
}

.column_left {
  flex: 0 0 18%;
  order: -1;
  opacity: 0.0;
}

.column_right {
  flex: 0 0 18%;
  order: 1;
  opacity: 0.0;
}