<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./facetten_DE" class="header">HEXACO Facetten</a>
        </div>
        <div class="header_leftleft">
            <a href="./HEXACO_Analyse_DE" class="header">HEXACO Analyse</a>
        </div>
        <div class="header_leftleft">
            <div class="header_rightright"></div>
            <a href="./history" class="header">Geschichte</a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightright"></div>
        <a href="./aboutme" class="header">About me</a>

    </div>
</div>