<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./my_favorite_chart_songs_2024" class="header">Singing</a>
        </div>
        <div class="header_leftleft">
            <div class="header_rightright"></div>
            <a href="./history_de_overview" class="header">History</a>
        </div>        
        <div class="header_leftleft">
            <a href="./facetten_DE" class="header">Personality</a>
        </div>

    </div>
    <div class="header_right">
        <div class="header_rightright"></div>
        <a href="./aboutme" class="header">About me</a>

    </div>
</div>