<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./HEXACO" class="header">On Personality</a>
        </div>
        <div class="header_leftleft">
            <a href="./teams" class="header">On Teams</a>
        </div>
        <div class="header_leftleft">
            <a href="./visualization" class="header"></a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightright"></div>
        <a href="./aboutme" class="header">About</a>
    </div>

</div>