<div class="slogan_container">
    <div class="slogan_left">
    </div>

    <div class="slogan_center">
        <center>
            {% include images/image_height.html imagePath = "../assets/images/img_2025/Greetings2025.jpg"
            altHeight="280px"
            altText = "Ma Se"%}
        </center>
        <br>
        <div class="slogan">
            Ma Se
        </div>
        <div class="sub_slogan">
            Singing | History | Personality
        </div>
    </div>

    <div class="slogan_right">
    </div>

</div>