<div class="slogan_container">
    <div class="slogan_left">
    </div>

    <div class="slogan_center">
        <center>
            {% include images/image_height.html imagePath = "../assets/images/img_layout/MaSe_Logo_C_2.png"
            altHeight="280px"
            altText = "Dr. Marcus Semling"%}
        </center>
        <br>
        <div class="slogan">
            Dr. Marcus Semling
        </div>
        <div class="sub_slogan">
            Music | History | Personality
        </div>
    </div>

    <div class="slogan_right">
    </div>

</div>