<div class="footer-column-layout">

    <div class="footer-column">
        <h3 class="footer">Links</h3>
        <p><a class="footer" href="https://www.youtube.com/channel/UCGFxaMjKtaOumxiB8GSgXbQ/">YouTube</a></p>
        <p><a class="footer" href="https://www.linkedin.com/in/drmarcussemling/">LinkedIn</a></p>
    </div>
    <div class="footer-column">
        <h3 class="footer">Legal</h3>
        <p><a class="footer" href="impressum">Impressum</a></p>
        <p><a class="footer" href="impressum2">Datenschutz</a></p>
    </div>

</div>