.header_container {
  display: flex;
  justify-content: space-between;
  justify-content: left;
}

.header_left {
  /* flex-basis: 0 0 9000px;
  flex: 1; */
  text-align: left;
  /* text-align: right; */
  /* text-align: justify; */
}

.header_right {
  flex-basis: 1 1 200px;
  /* Parent: login_container */
  flex: 1;
  text-align: right;
}

a.header, a.header:visited  {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

a.header:hover, a.header:active {
  color: var(--blue90);
  color: grey;
  text-decoration: none;
  text-decoration: underline;
  font-size: 18px;
}