.header_container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 100;
  color: white;
}

.header_left {
  flex-basis: 0 0 1000px;
  /* Parent: login_container */
  flex: 1;
  /* Parent: login_container */
  text-align: left;
}

.header_right {
  flex-basis: 1 1 200px;
  /* Parent: login_container */
  flex: 1;
  text-align: right;
}

a.H

/* 
a.nav_header, a.nav_header:visited {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

a.nav_header:hover {
  background-color: white;
  color: var(--green90);
} */