.footer-column-layout {
  display: flex;
  justify-content: space-between;
  margin: 16px auto 16px auto;  

  font-size: 10px;
  text-align: left;
  line-height: 1.65;
  }
  
  .footer-column {
    flex-basis: 15%;
  }

  h3.footer {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;

  }

  ul.footer {
    color: whitesmoke;
  }
 li.footer {
    color: whitesmoke;
  }

a.footer, a.footer:visited  {
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
}

a.footer:hover, a.footer:active {
  color: whitesmoke;
  /* color: var(--green10); */
  text-decoration: underline;
  /* font-size: 18px; */
}