<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./page_1" class="header">Usage</a>
        </div>
        <div class="header_leftleft">
            <a href="./page_1" class="header">IaaS Costs</a>
        </div>
        <div class="header_leftleft">
            <a href="./page_1" class="header">Cost Centers</a>
        </div>
    </div>
    <div class="header_right">
        <a href="./" class="header">Home</a>
    </div>
</div>